*.pyc
*.npz
!/data/encode_datasets/.gitkeep
/results/*
!/results/.gitkeep
/models/trained_models/*.h5
/src/DRANetSplicer.egg-info
!/src/.gitkeep
/visualization/figure/*
!/visualization/figure/.gitkeep